@page
@model EditorModel
@{
    ViewData["Title"] = "Editor"; //SINGLE EDITOR
}


<link href="~/css/vms-Editor.css" rel="stylesheet" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

@*<script src="~/js/canvas/canvas-toBlob.js"></script>
    <script src="~/js/canvas/canvas2image.js"></script>
    <script src="~/js/canvas/FileSaver.js"></script>*@

<script src="~/js/canvas/fabric.min.js"></script>

@*<script src="~/js/canvas/p5.min.js"></script>
    <script src="~/js/canvas/p5.dom.min.js"></script>*@
@*<script src="~/js/canvas/jquery-3.4.1.min.js"></script>*@

<style>
    #div1 {
        width: 768px;
        height: 128px;
        border: 1px solid #aaaaaa;
        color: black;
        background-color: black;
    }
    .buttonGreen {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

</style>

<div style="display: inline-flex; width:100%">
    <!--LEFT SIDE: "MESSAGE CONTAINER" TO CREATE MULTIPLE MESSAGES-->
    <div class="container-messages" style="text-align:center">
        <div>
            <label style="font-size: 30px">Variable Message Sign</label>
        </div>
        <!-- Config of message 1 -->
        <div class="single-message">
            <input type="checkbox" name="selectedMessage" class="largerCheckbox" id="checkmess1">
            <label for="checkmess1" style="font-size: 24px">Message 1</label>

            <p>Date: <input id="date_1" type="date"></p>
            <p>Time: <input id="time_1" type="number"></p>

            <canvas id="c1" width=768 height=128></canvas>
            <script type="text/javascript">
                var cvas1 = new fabric.Canvas('c1');
                cvas1.setBackgroundColor('#000000');
                cvas1.renderAll();
            </script>
        </div>
        <!-- Config of message 1 -->
        <!-- Config of message 2 -->
        <div class="single-message">
            <input type="checkbox" class="largerCheckbox" id="checkmess2">
            <label for="checkmess2" style="font-size: 24px">Message 2</label>

            <p>Date: <input id="date_2" type="date"></p>
            <p>Time: <input id="time_2" type="number"></p>

            <canvas id="c2" width=768 height=128></canvas>
            <script type="text/javascript">
                var cvas1 = new fabric.Canvas('c2');
                cvas1.setBackgroundColor('#000000');
                cvas1.renderAll();
            </script>
        </div>
        <!-- Config of message 2 -->
        <!-- Config of message 3 -->
        <div class="single-message">
            <input type="checkbox" class="largerCheckbox" id="checkmess3">
            <label for="checkmess3" style="font-size: 24px">Message 3</label>

            <p>Date: <input id="date_3" type="date"></p>
            <p>Time: <input id="time_3" type="number"></p>

            <canvas id="c3" width=768 height=128></canvas>
            <script type="text/javascript">
                var cvas1 = new fabric.Canvas('c3');
                cvas1.setBackgroundColor('#000000');
                cvas1.renderAll();
            </script>
        </div>
        <!-- Config of message 3 -->
        <!-- Config of message 4 -->
        <div class="single-message">
            <input type="checkbox" class="largerCheckbox" id="checkmess4">
            <label for="checkmess4" style="font-size: 24px">Message 4</label>

            <p>Date: <input id="date_4" type="date"></p>
            <p>Time: <input id="time_4" type="number"></p>

            <canvas id="c4" width=768 height=128></canvas>
            <script type="text/javascript">
                var cvas1 = new fabric.Canvas('c4');
                cvas1.setBackgroundColor('#000000');
                cvas1.renderAll();
            </script>
        </div>
        <!-- Config of message 4 -->
        <!-- Config of message 5 -->
        <div class="single-message">
            <input type="checkbox" class="largerCheckbox" id="checkmess5">
            <label for="checkmess5" style="font-size: 24px">Message 5</label>

            <p>Date: <input id="date_5" type="date"></p>
            <p>Time: <input id="time_5" type="number"></p>

            <canvas id="c5" width=768 height=128></canvas>
            <script type="text/javascript">
                var cvas1 = new fabric.Canvas('c5');
                cvas1.setBackgroundColor('#000000');
                cvas1.renderAll();
            </script>
        </div>
        <!-- Config of message 5 -->
    </div>

    <!--RIGHT SIDE: "EDITOR CONTAINER" TO CUSTOMIZE A SINGLE MESSAGE-->
    <div class="container-editor" style="text-align:center">
        <div>
            <label style="font-size: 30px">Message Editor</label>
            <input type="file" id="inp" accept="image/*">
            <input type="file" name="file[]" class="file_multi_video" accept="video/*"

        </div>

        <!--The messsage editor-->
        <div id="canvsedit" ondrop="drop(event)" ondragover="allowDrop(event)">
            <div id="div1" ondrop="drop(event)" ondragover="allowDrop(event)">
                <canvas id="cc" width="768" height="128" style="padding: 5px">
                </canvas>
            </div>
        </div>
        <!--The messsage editor-->
        <!--Color-Font-Style-->
        <div style="font-size:140%">
            <!--Color Panel-->
            <div class="color-font-style">
                <label for="color">Color:</label>
                <input type="color" id="color" value="#ffffff" style="width: 100px" />
            </div>
            <!--Color Panel-->
            <!--Font Family-->
            <div class="color-font-style">
                <label for="font_family">Font:</label>
                <select id="font_family">
                    <option value="Helvetica" selected="selected">Helvetica</option>
                    <option value="sans-serif">Sans Serif</option>
                    <option value="Arial">Arial</option>
                    <option value="Times New Roman">Times New Roman</option>
                    <option value="Courier New">Courier New</option>
                    <option value="Verdana">Verdana</option>
                    <option value="georgia">Georgia</option>
                    <option value="courier">Courier</option>
                    <option value="comic sans ms">Comic Sans MS</option>
                    <option value="impact">Impact</option>
                    <option value="monaco">Monaco</option>
                    <option value="optima">Optima</option>
                    <option value="hoefler text">Hoefler Text</option>
                    <option value="plaster">Plaster</option>
                </select>
            </div>
            <!--Font Family-->
            <!--Font Style-->
            <div class="color-font-style">
                <label for="input_style">Font Style:</label>
                <select id="input_style">
                    <option value="normal" selected="selected">Normal</option>
                    <option value="italic">Italic</option>
                    <option value="bold">Bold</option>
                </select>
            </div>
            <!--Font Style-->
        </div>
        <!--Color-Font-Style-->
        <!--Traffic sign and templates-->
        <div>
            <!--Display traffic sign images for dragging and dropping to the message editor-->
            <div class="tsign-template">
                <img id="image1" draggable="true" ondragstart="drag(event)" width=100 height=100 src="~/trafficsignimage/1.jpg" style="border: 2px solid white;" />
                <img id="image2" draggable="true" ondragstart="drag(event)" width=100 height=100 src="~/trafficsignimage/2.jpg" style="border: 2px solid white;" />
                <img id="image3" draggable="true" ondragstart="drag(event)" width=100 height=100 src="~/trafficsignimage/3.jpg" style="border: 2px solid white;" />
                <br />
                <img id="image4" draggable="true" ondragstart="drag(event)" width=100 height=100 src="~/trafficsignimage/4.jpg" style="border: 2px solid white;" />
                <img id="image5" draggable="true" ondragstart="drag(event)" width=100 height=100 src="~/trafficsignimage/5.jpg" style="border: 2px solid white;" />
                <img id="image6" draggable="true" ondragstart="drag(event)" width=100 height=100 src="~/trafficsignimage/6.jpg" style="border: 2px solid white;" />
                <br />
                <img id="image7" draggable="true" ondragstart="drag(event)" width=100 height=100 src="~/trafficsignimage/7.jpg" style="border: 2px solid white;" />
                <img id="image8" draggable="true" ondragstart="drag(event)" width=100 height=100 src="~/trafficsignimage/8.jpg" style="border: 2px solid white;" />
                <img id="image9" draggable="true" ondragstart="drag(event)" width=100 height=100 src="~/trafficsignimage/9.jpg" style="border: 2px solid white;" />
                <br />
                <img id="image10" draggable="true" ondragstart="drag(event)" width=100 height=100 src="~/trafficsignimage/10.jpg" style="border: 2px solid white;" />
                <img id="image11" draggable="true" ondragstart="drag(event)" width=100 height=100 src="~/trafficsignimage/11.jpg" style="border: 2px solid white;" />
                <img id="image12" draggable="true" ondragstart="drag(event)" width=100 height=100 src="~/trafficsignimage/12.jpg" style="border: 2px solid white;" />
                <br />
                <img id="image13" draggable="true" ondragstart="drag(event)" width=100 height=100 src="~/trafficsignimage/13.jpg" style="border: 2px solid white;" />
                <img id="image14" draggable="true" ondragstart="drag(event)" width=100 height=100 src="~/trafficsignimage/14.jpg" style="border: 2px solid white;" />
                <img id="image15" draggable="true" ondragstart="drag(event)" width=100 height=100 src="~/trafficsignimage/15.jpg" style="border: 2px solid white;" />
                <img id="logo1" draggable="true" ondragstart="drag(event)" width=192 height=64 src="~/ParkingLogo/capsquare_192x64.png" style="border: 2px solid white;" />
                <br />
                <img id="logo2" draggable="true" ondragstart="drag(event)" width=192 height=64 src="~/ParkingLogo/fahrenheit_192x64.png" style="border: 2px solid white;" />
                <br />
                <img id="logo3" draggable="true" ondragstart="drag(event)" width=192 height=64 src="~/ParkingLogo/pt80_192x64.png" style="border: 2px solid white;" />
                <br />
                <img id="logo4" draggable="true" ondragstart="drag(event)" width=192 height=64 src="~/ParkingLogo/KLCC_192x64.png" style="border: 2px solid white;" />
                <br />
                <img id="logo5" draggable="true" ondragstart="drag(event)" width=192 height=64 src="~/ParkingLogo/Lot10_192x64.png" style="border: 2px solid white;" />
                <br />
                <img id="logo6" draggable="true" ondragstart="drag(event)" width=192 height=64 src="~/ParkingLogo/lowyat_192x64.png" style="border: 2px solid white;" />
                <br />
                <img id="logo7" draggable="true" ondragstart="drag(event)" width=192 height=64 src="~/ParkingLogo/MajuJunction_192x64.png" style="border: 2px solid white;" />
                <br />
                <img id="logo8" draggable="true" ondragstart="drag(event)" width=192 height=64 src="~/ParkingLogo/pavilion_192x64.png" style="border: 2px solid white;" />
                <br />
                <img id="logo9" draggable="true" ondragstart="drag(event)" width=192 height=64 src="~/ParkingLogo/pertamacomplex_192x64.png" style="border: 2px solid white;" />
                <br />
                <img id="logo10" draggable="true" ondragstart="drag(event)" width=192 height=64 src="~/ParkingLogo/quill_192x64.png" style="border: 2px solid white;" />
                <br />
                <img id="logo11" draggable="true" ondragstart="drag(event)" width=192 height=64 src="~/ParkingLogo/semuahouse_192x64.png" style="border: 2px solid white;" />
                <br />
                <img id="logo12" draggable="true" ondragstart="drag(event)" width=192 height=64 src="~/ParkingLogo/sogo_192x64.png" style="border: 2px solid white;" />
                <br />
                <img id="logo13" draggable="true" ondragstart="drag(event)" width=192 height=64 src="~/ParkingLogo/starhill_192x64.png" style="border: 2px solid white;" />
                <br />
                <img id="logo14" draggable="true" ondragstart="drag(event)" width=192 height=64 src="~/ParkingLogo/sungeiwang_192x64.png" style="border: 2px solid white;" />
            </div>
            <!--Display traffic sign images for dragging and dropping to the message editor-->



            <div class="tsign-template">
                <div align="center">
                    <label style="font-size: 20px">Pick an example Template</label>
                </div>
                <!--Display image in the template library-->
                @*<div id="drag1" draggable="true" ondragstart="drag(event)">
                <table width="768" height="53" border=1 id="mytable">
                    <tr>
                        <td width="40" height="6" bgcolor="#ffffff"><img src="~/ParkingLogo/fahrenheit_192x64.png" alt="" /></td>
                        <td width="40" height="6" bgcolor="#000000"><h3><span id="">OPEN</span></h3></td>
                        <td width="40" height="6" bgcolor="#ffffff"><img src="~/ParkingLogo/lowyat_192x64.png" alt="" /></td>
                        <td width="40" height="6" bgcolor="#000000"><h3><span id="">OPEN</span></h3></td>
                    </tr>
                    <tr>
                        <td width="40" height="6" bgcolor="#ffffff"><img src="~/ParkingLogo/KLCC_192x64.png" alt="" /></td>
                        <td width="40" height="6" bgcolor="#000000"><h3><span id="">OPEN</span></h3></td>
                        <td width="40" height="6" bgcolor="#ffffff"><img src="~/ParkingLogo/sungeiwang_192x64.png" alt="" /></td>
                        <td width="40" height="6" bgcolor="#000000"><h3><span id="">OPEN</span></h3></td>
                    </tr>
                </table>
            </div>
            <br />*@
                <div class="tsign-template">
                    <!--Display image in the template library-->
                    <img id="it1" width=320 height=53 src="~/library/template1.jpg" onclick="changetemplate()" style="border: 2px solid white;" />
                    <br />
                    <img id="it2" width=320 height=53 src="~/library/template2.jpg" onclick="changetemplate2()" style="border: 2px solid white;" />
                    <br />
                    <img id="it3" width=320 height=53 src="~/library/template3.jpg" onclick="changetemplate3()" style="border: 2px solid white;" />
                    <br />
                    <img id="it4" width=320 height=53 src="~/library/template4.jpg" onclick="changetemplate4()" style="border: 2px solid white;" />
                    <br />
                    <img id="it5" width=320 height=53 src="~/library/template5.jpg" onclick="changetemplate5()" style="border: 2px solid white;" />
                    <br />
                    <img id="it6" width=320 height=53 src="~/library/template6.jpg" onclick="changetemplate6()" style="border: 2px solid white;" />
                    <br />
                    <img id="it7" width=320 height=53 src="~/library/template7.jpg" onclick="changetemplate7()" style="border: 2px solid white;" />
                </div>
                <br />
                <div id="drag2" draggable="true" ondragstart="drag(event)">
                    <table width="768" height="53" border=1 id="mytable">
                        <tr>
                            <td width="40" height="6" bgcolor="#ffffff"><img src="" alt="" /></td>
                            <td width="40" height="6" bgcolor="#000000"><h3><span id="">OPEN</span></h3></td>
                            <td width="40" height="6" bgcolor="#ffffff"><img src="" alt="" /></td>
                            <td width="40" height="6" bgcolor="#000000"><h3><span id="">OPEN</span></h3></td>
                        </tr>
                        <tr>
                            <td width="40" height="6" bgcolor="#ffffff"><img src="" alt="" /></td>
                            <td width="40" height="6" bgcolor="#000000"><h3><span id="">OPEN</span></h3></td>
                            <td width="40" height="6" bgcolor="#ffffff"><img src="" alt="" /></td>
                            <td width="40" height="6" bgcolor="#000000"><h3><span id="">OPEN</span></h3></td>
                        </tr>
                    </table>
                </div>
                <br />
                <div id="drag3" draggable="true" ondragstart="drag(event)">
                    <table width="768" height="138" border=1 id="mytable">
                        <tr>
                            <td width="256" height="138" bgcolor="#000000"><img src="" alt="" /></td>
                            <td width="256" height="138" bgcolor="#000000"><h3><span id="">OPEN</span></h3></td>
                            <td width="256" height="138" bgcolor="#000000"><img src="" alt="" /></td>
                        </tr>
                    </table>
                </div>
            </div>
            <!--Traffic sign and templates-->
            <div id="div1" ondrop="drop(event)" ondragover="allowDrop(event)">
            </div>
            </br>
            <video width="768" height="128" controls>
                <source src="mov_bbb.mp4" id="video_here">
                Your browser does not support HTML5 video.
            </video>
            <div style="margin: 20px; font-size:140%">
                <!--Change the selected message button-->
                <input id="Button1" type="button" class="button" value="Change Message" onclick="copycanvas()" />

                <!--Download selected message as image file-->
                <button type="button" id="save_button" onclick="uploadimage()" class="button">Save Canvas</button>

                <!--Add text to canvas editor-->
                <button type="button" onclick="add_text()" class="button">Add Text</button>

                <!--Add text to canvas editor-->

                <form method="post">
                    <button type="submit" class="buttonGreen" asp-route-id="@Model.Board.ID" asp-page-handler="TestAddVSN">Send</button>
                </form>

            </div>
        </div>
    </div>
</div>


<!--JAVASCRIPT FUNCTIONS-->
<!--File Input-->
<script>
    document.getElementById('inp').onchange = function (e) {
        var img = new Image();
        img.onload = draw;
        img.onerror = failed;
        img.src = URL.createObjectURL(this.files[0]);
    };

    function draw() {
        var canvas = document.getElementById('cc');
        canvas.width = this.width;
        canvas.height = this.height;
        var ctx = canvas.getContext('2d');
        var item = ctx.drawImage(this, 0, 0);
    }
    function failed() {
        console.error("The provided file couldn't be loaded as an Image media");
    }


        $(document).on("change", ".file_multi_video", function(evt) {
         var $source = $('#video_here');
        $source[0].src = URL.createObjectURL(this.files[0]);
        $source.parent()[0].load();
      });
</script>

<!--File Input-->
<!--Copy content from editor to message canvas-->
<!--Copy content from editor to message canvas-->
<script type="text/javascript">
    function copycanvas() {
        var canvasedit = document.getElementById('cc');
        var canvas1 = document.getElementById('c1');
        var canvas2 = document.getElementById('c2');
        var canvas3 = document.getElementById('c3');
        var canvas4 = document.getElementById('c4');
        var canvas5 = document.getElementById('c5');

        var src = canvasedit.toDataURL("image/jpeg"); // cache the image data source

        var img = document.createElement('img');    /* create a Image Element
                                                    from the editor canvas 'id=cc'*/
        img.src = src;   //image source

        var image1, image2, image3, image4, image5 = "";
        //Canvas 1
        if (document.getElementById('checkmess1').checked) { //Check the checkbox
            console.log("Message 1 is checked")
            var ctx1 = canvas1.getContext('2d');    //returns a drawing context on the canvas
            ctx1.drawImage(img, 0, 0, 768, 128);    //draw image to the canvas
            image1 = img;
        }
        //Canvas 2
        if (document.getElementById('checkmess2').checked) {//Check the checkbox
            console.log("Message 2 is checked");
            var ctx2 = canvas2.getContext('2d');
            ctx2.drawImage(img, 0, 0, 768, 128);
            image2 = img;
        }
        //Canvas 3
        if (document.getElementById('checkmess3').checked) {//Check the checkbox
            console.log("Message 3 is checked")
            var ctx3 = canvas3.getContext('2d');
            ctx3.drawImage(img, 0, 0, 768, 128);
            image3 = img;
        }
        //Canvas 4
        if (document.getElementById('checkmess4').checked) {//Check the checkbox
            console.log("Message 4 is checked")
            var ctx4 = canvas4.getContext('2d');
            ctx4.drawImage(img, 0, 0, 768, 128);
            image4 = img;
        }
        //Canvas 5
        if (document.getElementById('checkmess5').checked) {//Check the checkbox
            console.log("Message 5 is checked")
            var ctx5 = canvas5.getContext('2d');
            ctx5.drawImage(img, 0, 0, 768, 128);
            image5 = img;
        }
        };

    //Call API
    function uploadimage() {
        var canvas1 = document.getElementById('c1');
        var canvas2 = document.getElementById('c2');
        var canvas3 = document.getElementById('c3');
        var canvas4 = document.getElementById('c4');
        var canvas5 = document.getElementById('c5');
        //var ctx1 = canvasedit.getContext('2d');

        var boardId = @Model.Board.ID; //Current BoardID


        //Canvas 1
        if (document.getElementById('checkmess1').checked) { //Check the checkbox
            var src = canvas1.toDataURL("image/jpeg"); // cache the image data source
            var image1 = document.createElement('img'); // create a Image Element

            image1.src = src;   //image source
            base64 = $(image1).attr("src").split(",")[1];
            base64 = "1" + boardId.toString() + "-" + base64;
            date_mess = document.getElementById("date_1").value; //set date
            time_mess = document.getElementById("time_1").value; //set time
            mess = "message 1";
            //console.log("Message 1 is checked")
        }
        //Canvas 2
        if (document.getElementById('checkmess2').checked) {//Check the checkbox
            //console.log("Message 2 is checked");
            var src = canvas2.toDataURL("image/jpeg"); // cache the image data source
            var image2 = document.createElement('img'); // create a Image Element

            image2.src = src;   //image source
            base64 = $(image2).attr("src").split(",")[1];
            base64 = "2" + boardId.toString() + "-" + base64;
            date_mess = document.getElementById("date_2").value; //set date
            time_mess = document.getElementById("time_2").value; //set time
            mess = "message 2";
        }
        //Canvas 3
        if (document.getElementById('checkmess3').checked) {//Check the checkbox
            //console.log("Message 3 is checked")
            var src = canvas3.toDataURL("image/jpeg"); // cache the image data source
            var image3 = document.createElement('img'); // create a Image Element

            image3.src = src;   //image source
            base64 = $(image3).attr("src").split(",")[1];
            base64 = "3" + boardId.toString() + "-" + base64;
            date_mess = document.getElementById("date_3").value; //set date
            time_mess = document.getElementById("time_3").value; //set time
            mess = "message 3";
        }
        //Canvas 4
        if (document.getElementById('checkmess4').checked) {//Check the checkbox
            //console.log("Message 4 is checked")
            var src = canvas4.toDataURL("image/jpeg"); // cache the image data source
            var image4 = document.createElement('img'); // create a Image Element

            image4.src = src;   //image source
            base64 = $(image4).attr("src").split(",")[1];
            base64 = "4" + boardId.toString() + "-" + base64;
            date_mess = document.getElementById("date_4").value; //set date
            time_mess = document.getElementById("time_4").value; //set time
            mess = "message 4";
        }
        //Canvas 5
        if (document.getElementById('checkmess5').checked) {//Check the checkbox
            //console.log("Message 5 is checked")
            var src = canvas5.toDataURL("image/jpeg"); // cache the image data source
            var image5 = document.createElement('img'); // create a Image Element

            image5.src = src;   //image source
            base64 = $(image5).attr("src").split(",")[1];
            base64 = "5" + boardId.toString() + "-" + base64;
            date_mess = document.getElementById("date_5").value; //set date
            time_mess = document.getElementById("time_5").value; //set time
            mess = "message 5";
        }
        //base64 = $(img).attr("src").split(",")[1];
        //imageFileName = "1";
        //base64 = imageFileName + base64;
        $.ajax({
            url: "/api/upload/base64",
            type: "POST",
            data: JSON.stringify({
                value: base64
            }),
            contentType: 'application/json',
            success: function (response) {
                alert("Image is saved");
            },
            error: function (response) {
                console.log(response);
                try {
                    toastr.error(
                        response.responseJSON.message,
                        'Error!',
                    );
                } catch (e) {
                    toastr.error(
                        response.status + ' - ' + response.statusText,
                        'Error!',
                    );
                }
            }
        });
    }
</script>
<!-- Copy content from editor to message canvas -->
<!-- Add fabric text and allow drag and drop pictures -->
<script type="text/javascript">
    var canvas = new fabric.Canvas('cc');
    var text = new fabric.IText('Key In Text Here', { left: 250, top: 40, fill: 'white' });
    canvas.add(text).setActiveObject(text);
    canvas.setBackgroundColor('#000000');

    addHandler('font_family', function (obj) {
        setStyle(obj, 'fontFamily', this.value);
    }, 'onchange');

    addHandler('input_style', function (obj) {
        setStyle(obj, 'fontStyle', this.value);
    }, 'onchange');

    addHandler('color', function (obj) {
        setStyle(obj, 'fill', this.value);
    }, 'onchange');

    function add_text() {
        canvas.add(new fabric.IText('Key In Text Here', { left: 250, top: 40, fill: 'white' }))

    }
    function setStyle(object, styleName, value) {
        if (object.setSelectionStyles && object.isEditing) {
            var style = {};
            style[styleName] = value;
            object.setSelectionStyles(style).setCoords();
        }
        else {
            object[styleName] = value;
        }
        canvas.renderAll();
    };

    function getStyle(object, styleName) {
        return (object.getSelectionStyles && object.isEditing)
            ? object.getSelectionStyles()[styleName]
            : object[styleName];
    }

    function addHandler(id, fn, eventName) {
        document.getElementById(id)[eventName || 'onclick'] = function () {
            var el = this;
            if (obj = canvas.getActiveObject()) {
                fn.call(el, obj);
                canvas.renderAll();
            }
        };
    }


    //var dragItem = document.getElementById('image1');
    //var drogLoc = document.getElementById("canvsedit");
    function addImage(image) {
        //var canvas = new fabric.Canvas('cc');
        fabric.Image.fromURL(image, function (myImg) {
            var img1 = myImg.set({
                left: 0,
                top: 0,
                scaleX: 100 / myImg.width,
                scaleY: 100 / myImg.height
            });
            canvas.add(img1);
            canvas.renderAll();
        });

    }
   function allowDrop(ev) {
        ev.preventDefault();
        ev.dataTransfer.setData("text", ev.target.id);

    }

    function drag(ev) {
      ev.dataTransfer.setData("text", ev.target.id);
    }

    function drop(ev) {
      ev.preventDefault();
      var data = ev.dataTransfer.getData("text");
        ev.target.appendChild(document.getElementById(data));
        var myElement = document.getElementById(data);
        var src_image = myElement.src;
        console.log(src_image);
        addImage(src_image);
    }

    //function allowDrop(ev) {
    //    ev.preventDefault(); //
    //    ev.dataTransfer.setData("text", ev.target.id);
    //    console.log("Start dragging");
    //}

    //function drag(ev) {
    //    ev.dataTransfer.setData("text", ev.target.id); //
    //    // ev.preventDefault();
    //    console.log("its dragover.....");
    //}

    //function drop(ev) {
    //    ev.preventDefault(); //
    //    var data = ev.dataTransfer.getData("text"); //
    //    ev.target.appendChild(document.getElementById(data)); //
    //    console.log("Its dropped");
    //    var myElement = document.getElementById(data);
    //    var src_image = myElement.src;
    //    console.log(src_image);
    //    addImage(src_image);
    //}
</script>
<!-- Add fabric text and allow drag and drop pictures -->
<!-- Change the editor from a template in the library -->
<script type="text/javascript">
    function changetemplate() {
        var canvasc2 = document.getElementById('cc');
        var img = document.getElementById("it1");
        var ctxt2 = canvasc2.getContext('2d');
        ctxt2.drawImage(img, 0, 0);

    }
    function changetemplate2() {
        var canvasc2 = document.getElementById('cc');
        var img = document.getElementById("it2");
        var ctxt2 = canvasc2.getContext('2d');
        ctxt2.drawImage(img, 0, 0);

    }
    function changetemplate3() {
        var canvasc2 = document.getElementById('cc');
        var img = document.getElementById("it3");
        var ctxt2 = canvasc2.getContext('2d');
        ctxt2.drawImage(img, 0, 0);

    }

    function changetemplate4() {
        var canvasc2 = document.getElementById('cc');
        var img = document.getElementById("it4");
        var ctxt2 = canvasc2.getContext('2d');
        ctxt2.drawImage(img, 0, 0);

    }
    function changetemplate5() {
        var canvasc2 = document.getElementById('cc');
        var img = document.getElementById("it5");
        var ctxt2 = canvasc2.getContext('2d');
        ctxt2.drawImage(img, 0, 0);

    }
    function changetemplate6() {
        var canvasc2 = document.getElementById('cc');
        var img = document.getElementById("it6");
        var ctxt2 = canvasc2.getContext('2d');
        ctxt2.drawImage(img, 0, 0);

    }
    function changetemplate7() {
        var canvasc2 = document.getElementById('cc');
        var img = document.getElementById("it7");
        var ctxt2 = canvasc2.getContext('2d');
        ctxt2.drawImage(img, 0, 0);

    }
</script>
<!-- Change the editor from a template in the library -->
<!-- Download function, download as a picture -->
<script>
    function downloadMessage() {
        if (document.getElementById('checkmess1').checked) { //Check the checkbox
            $("#c1").get(0).toBlob(function (blob) {
                saveAs(blob, "message1.jpg");
            });

        }
        if (document.getElementById('checkmess2').checked) { //Check the checkbox
            $("#c2").get(0).toBlob(function (blob) {
                saveAs(blob, "message2.jpg");
            });

        }
        if (document.getElementById('checkmess3').checked) { //Check the checkbox
            $("#c3").get(0).toBlob(function (blob) {
                saveAs(blob, "message3.jpg");
            });

        }
        if (document.getElementById('checkmess4').checked) { //Check the checkbox
            $("#c4").get(0).toBlob(function (blob) {
                saveAs(blob, "message4.jpg");
            });

        }
        if (document.getElementById('checkmess5').checked) { //Check the checkbox
            $("#c5").get(0).toBlob(function (blob) {
                saveAs(blob, "message5.jpg");
            });

        }
    }
</script>
<!-- Download function, download as a picture -->
<script>
    function createVSN() {
        //make ajax call from client to server to run the function on server
        $.ajax({
            type: "POST",
            url: '/api/playlist/createvsn',
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader("XSRF-TOKEN",
                            $('input:hidden[name="__RequestVerificationToken"]').val());
                    },
                    contentType: "application/json; charset=utf-8"
                }).done(function (data) {
                    //window.open("@Url.Content("~/uploads/1/13254.png")", 'Image')
                    toast.success("VSN file created");
                    console.log(data.result);
                })
    };
</script>




<div style="display:block">
    <form method="post" style="display:inline-block; margin: 10px">
        <input type="hidden" asp-for="Board.ID" />
        @{
            string tempvalue = "https://localhost:44321/uploads/" + @Model.Board.ID + "/message1.jpg";
            <input type="hidden" value=@tempvalue asp-for="Display.Screenshot_URL" />
        }

        <div class="form-group">
            <input type="submit" value="Update and Return to Table" class="btn btn-primary" />
            <p><a asp-page="/VMS/Table">Return to Table</a></p>
        </div>
    </form>

    @*test create vsn file on server*@
    @*<div>
        <button class="consent-buttons" id="btn-createvsn" onclick="createVSN()">Create VSN file</button>
    </div>*@
    <form method="post" action="@Url.Action("OnPostCreateVsn","Playlist")">
        <input type="hidden" name="board_id" asp-for="Board.ID" />
        <input class="button" id="submit" type="submit" value="Create VSN File" />
    </form>

    @*Configuration of CCTV*@
    <div style="display:inline-block; margin: 10px; font-size: 150%">
        <button class="open-button" onclick="openForm()">Open CCTV</button>
    </div>
    <div class="form-popup-cctv" id="myForm">
        <form action="/action_page.php">
            <h1>CCTV Config</h1>

            <label for="username"><b>Username</b></label>
            <input id="user_cctv" type="text" placeholder="admin" name="user" required>
            <label for="psw"><b>Password</b></label>
            <input id="psw_cctv" type="password" placeholder="cctvsim14" name="psw" required>

            <label for="cctvip"><b>IP:Port</b></label>
            <input id="ipport" type="text" placeholder="rtsp://175.139.231.133:554/Streaming/Channels/1" name="cctvip" required>

            <button type="button" class="btn" onclick="opencctv()">Open</button>
            <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
        </form>
        <script type="text/javascript">
                function openForm() {
                    document.getElementById("myForm").style.display = "block";
                }

                function closeForm() {
                    document.getElementById("myForm").style.display = "none";
                }
                function opencctv2() {
                    var ip_address = document.getElementById("ipport").value;
                    //window.open(ip_address)
                    window.open("@Url.Content("~/ParkingLogo/sungeiwang_192x64.png")", 'Image')
                    //window.open("@Url.Content("~/uploads/1/rtsp/image21.jpg")",'Image')
                    //window.open('uploads/1/image21.jpg')
                   // var largeImage = document.getElementById('largeImage');
                   //largeImage.style.display = 'block';
                   //largeImage.style.width=200+"px";
                   //largeImage.style.height=200+"px";
                   //var url=largeImage.getAttribute('src');
                   // window.open('uploads\1\image21.jpg', 'Image', 'width=largeImage.stylewidth,height=largeImage.style.height,resizable=1')

                }

                function opencctv3() {
                    $.ajax({
                        type: "POST",
                        url: "/?handler=Program",
                        data: '1',
                        success: OnSuccess,
                        failure: function (response) {
                            //window.open('uploads\1\image21.jpg', 'Image', 'width=largeImage.stylewidth,height=largeImage.style.height,resizable=1')
                            window.open("@Url.Content("~/uploads/1/13254.png")", 'Image')
                            //alert(response.d);
                        }
                    });
                }
                function OnSuccess(response) {
                    window.open("@Url.Content("~/uploads/1/13254.png")", 'Image')
                    //alert(response.d);
                }

                //from https://stackoverflow.com/questions/50586676/net-core-razor-pages-ajax-call-to-c-sharp-method
                function opencctv() {
                    //const cameraImageUrl=@Url.Content("~/uploads/1/camera");//no use already

                    @*$.ajax({
                        type: "POST",
                        url: '/api/camera/webcam',
                        beforeSend: function (xhr) {
                            xhr.setRequestHeader("XSRF-TOKEN",
                                $('input:hidden[name="__RequestVerificationToken"]').val());
                        },
                        contentType: "application/json; charset=utf-8",
                        dataType: "json"
                    }).done(function (data) {
                        window.open("@Url.Content("~/uploads/1/13254.png")", 'Image')
                        console.log(data.result);
                    })*@
                }
        </script>
    </div>
    @*Configuration of CCTV*@


    <form method="post">
        <button type="submit" class="btn-link" asp-route-id="@Model.Board.ID" asp-page-handler="TestAddVSN">Create VSN file on client</button>
        <button type="submit" class="btn-link" asp-route-id="@Model.Board.ID" asp-page-handler="TestDeleteVSN">Delete VSN from C4</button>
        <button type="submit" class="btn-link" asp-route-id="@Model.Board.ID" asp-page-handler="Screenshot">Screenshot Update</button>

    </form>

    @{
        string URL = "http://" + @Model.Board.Display.C4_IP + "/api/screenshot";
        <div><img src=@URL alt=@URL></div>
    }
</div>


@*CL-Parking Template - 03.2020*@
<div style="display:flex">

    <body>
        <!--<link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/segment7" type="text/css"/>-->
        <!--Styling-->
        <style>

            form button, input[type="button"] {
                font-size: 150%;
                position: relative;
                margin: 10px;
            }

            .onecanvas {
                display: inline-grid;
                grid-template-rows: repeat(2,64px);
                grid-template-columns: repeat(4,192px);
                margin: 10px;
            }

                .onecanvas .canvas, .counter {
                    background-color: #4d4d4d;
                    border: solid 1px;
                    width: 192px;
                    height: 64px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                .onecanvas .counter #count1, #count2, #count3, #count4 {
                    /*font-family: 'Segment7Standard';*/
                    font-size: 300%;
                    color: #00FF00;
                }

                .onecanvas canvas:hover {
                    background-color: indianred;
                    border: solid red 1px;
                }

                .onecanvas .leftpair1, .leftpair2, .rightpair1, .rightpair2 {
                    display: inline-grid; /*Placed in rows by default*/
                }

            .logos {
                width: 768px;
                padding: 30px 0;
                text-align: center;
                background-color: #b3e0ff;
                margin: 10px;
            }

                .logos p {
                    font-size: 200%;
                    margin: 10px;
                }
        </style>



        <div class="main">
            <!--Start:Canvas Section-->
            <div class="onecanvas">
                <!--Section-->
                <div class="leftpair1">
                    <canvas id="canvas1"
                            class="canvas"></canvas>
                    <canvas id="canvas2"
                            class="canvas"></canvas>
                </div>
                <!--Section-->
                <div class="leftpair2">
                    <div id="counter1"
                         class="counter">
                        <p id="count1"
                           value="">COUNT</p>
                    </div>
                    <div id="counter2"
                         class="counter">
                        <p id="count2"
                           value="">COUNT</p>
                    </div>
                </div>
                <!--Section-->
                <div class="rightpair1">
                    <canvas id="canvas3"
                            class="canvas"></canvas>
                    <canvas id="canvas4"
                            class="canvas"></canvas>
                </div>
                <!--Section-->
                <div class="rightpair2">
                    <div id="counter3"
                         class="counter">
                        <p id="count3"
                           value="">COUNT</p>
                    </div>
                    <div id="counter4"
                         class="counter">
                        <p id="count4"
                           value="">COUNT</p>
                    </div>
                </div>

            </div>
            <!--End:Canvas Section-->
            <!--Start:Logo Section-->
            <div class="logos">
                <p>Select One</p>
                    @foreach (var item in Model.ParkingInfos)
                    {

                        string imgFileName = @item.ImageFileName + ".png";

                            <img id="@item.sname"
                                 src="~/ParkingLogo/@imgFileName"
                                 alt="@item.sname">
                        }
            </div>
            <!--End:Logo Section-->

            <form>
                <button onclick="clearcanvas()">Clear Canvas</button>
                <input type="button" onclick="copycanvas();" value="Submit" />
            </form>
        </div>


        <script>
            document.getElementById("canvas1").addEventListener("click", selectedCanvas);
            document.getElementById("canvas2").addEventListener("click", selectedCanvas);
            document.getElementById("canvas3").addEventListener("click", selectedCanvas);
            document.getElementById("canvas4").addEventListener("click", selectedCanvas);

            //This function is called when a dedicated canvas is triggered (i.e. "clicked")
            function selectedCanvas() {
                var canvasid = this.id.toString();
                //Get the Id of the specific canvas
                document.onclick =
                    function (event) {
                        if (event.target.id == '@Model.sname[0]') {
                            getImage(event, canvasid);
                            var value = "@Model.bay[0]";  //Get from database
                            getCounter(value, canvasid);
                        }
                        if (event.target.id == '@Model.sname[1]') {
                            getImage(event, canvasid);
                            var value = "@Model.bay[1]"; //Get from database
                            getCounter(value, canvasid);
                        }
                        if (event.target.id == '@Model.sname[2]') {
                            getImage(event, canvasid);
                            var value = "@Model.bay[2]"; //Get from database
                            getCounter(value, canvasid);
                        }
                        if (event.target.id == '@Model.sname[3]') {
                            getImage(event, canvasid);
                            var value = "@Model.bay[3]"; //Get from database
                            getCounter(value, canvasid);
                        }
                        if (event.target.id == '@Model.sname[4]') {
                            getImage(event, canvasid);
                            var value = "@Model.bay[4]"; //Get from database
                            getCounter(value, canvasid);
                        }
                        if (event.target.id == '@Model.sname[5]') {
                            getImage(event, canvasid);
                            var value = "@Model.bay[5]"; //Get from database
                            getCounter(value, canvasid);
                        }
                        if (event.target.id == '@Model.sname[6]') {
                            getImage(event, canvasid);
                            var value = "@Model.bay[6]"; //Get from database
                            getCounter(value, canvasid);
                        }
                        if (event.target.id == '@Model.sname[7]') {
                            getImage(event, canvasid);
                            var value = "@Model.bay[7]"; //Get from database
                            getCounter(value, canvasid);
                        }
                        if (event.target.id == '@Model.sname[8]') {
                            getImage(event, canvasid);
                            var value = "@Model.bay[8]"; //Get from database
                            getCounter(value, canvasid);
                        }
                        if (event.target.id == '@Model.sname[9]') {
                            getImage(event, canvasid);
                            var value = "@Model.bay[9]"; //Get from database
                            getCounter(value, canvasid);
                        }
                        if (event.target.id == '@Model.sname[10]') {
                            getImage(event, canvasid);
                            var value = "@Model.bay[10]"; //Get from database
                            getCounter(value, canvasid);
                        }
                        if (event.target.id == '@Model.sname[11]') {
                            getImage(event, canvasid);
                            var value = "@Model.bay[11]"; //Get from database
                            getCounter(value, canvasid);
                        }
                        if (event.target.id == '@Model.sname[12]') {
                            getImage(event, canvasid);
                            var value = "@Model.bay[12]"; //Get from database
                            getCounter(value, canvasid);
                        }
                        if (event.target.id == '@Model.sname[13]') {
                            getImage(event, canvasid);
                            var value = "@Model.bay[13]"; //Get from database
                            getCounter(value, canvasid);
                        }
                        if (event.target.id == '@Model.sname[14]') {
                            getImage(event, canvasid);
                            var value = "@Model.bay[14]"; //Get from database
                            getCounter(value, canvasid);
                        }
                    }
            }

            //This function maps the "selected" image on the "selected" canvas
            function getImage(eimage, canvasid) {
                var imageid = eimage.target.id.toString();
                var canvas = document.getElementById(canvasid);
                var ctx = canvas.getContext("2d");
                var img = document.getElementById(imageid);
                ctx.drawImage(img, 0, 0, canvas.width, canvas.height);
            }

            //This funtion maps the respective counter for the "selcted" canvas; replaces the count value
            //Note: canvas1 <-> counter1 <-> count1
            function getCounter(count, canvasid) {
                var thisid = Number(canvasid.charAt(canvasid.length - 1))

                var counter = document.getElementById("count" + thisid);
                counter.innerHTML = count;  //Change displayed value
                counter.value = count; //Update value attribute
            }

            //Function to clear canvas
            function clearcanvas() {
                for (var i = 1; i < 5; i++) {
                    var canvas = document.getElementById('canvas' + i),
                        ctx = canvas.getContext("2d");
                    ctx.clearRect(0, 0, canvas.width, canvas.height);

                    document.getElementById("count" + i).innerHTML = "COUNT";
                }
            }

        </script>

    </body>


</div>