@page
@model Lingkail.VMS.Pages.Manage.UserRoleModel
@{
    ViewData["Title"] = "UserRole";
}

@*<h1>UserRole</h1>*@

<form method="post">
    <div class="card">
        <div class="card-header">
            <h2>Manage User Roles</h2>
        </div>
        <div class="card-body">
            @for (int i = 0; i < Model.RoleList.Count; i++)
            {
                <div class="form-check m-1">
                    <input type="hidden" asp-for="@Model.RoleList[i].RoleId" />
                    <input type="hidden" asp-for="@Model.RoleList[i].RoleName" />
                    <input asp-for="@Model.RoleList[i].IsSelected" class="form-check-input" />
                    <label class="form-check-label" asp-for="@Model.RoleList[i].IsSelected">
                        @Model.RoleList[i].RoleName
                    </label>
                </div>
            }
            <div asp-validation-summary="All" class="text-danger"></div>
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-danger">Update</button>
            <a asp-page="EditUsers" asp-route-id="@Model.User_ID" class="btn btn-primary" style="width:auto">Cancel</a>
        </div>
    </div>
</form>